<md-content>
	<section layout="row">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<md-button ng-click="shellvm.toggleSidenav('left')" hide-gt-sm class="md-icon-button">
					<md-icon aria-label="Menu">menu</md-icon>
				</md-button>
				<h1> <md-icon aria-label="Phone">games</md-icon>Saath Aath</h1>
				<span flex></span>
				<md-button class="md-fab md-mini" aria-label="Restart" ng-click="game.reset()">
					<md-tooltip md-direction="left">
						Restart
					</md-tooltip>
					<md-icon>replay</md-icon>
				</md-button>
				<md-button class="md-fab md-mini" aria-label="Rules" ng-click="game.showRules()">
					<md-tooltip md-direction="left">
						Rules
					</md-tooltip>
					<md-icon>info</md-icon>
				</md-button>
			</div>
		</md-toolbar>
	</section>

	<section>

		<saathaath-game></saathaath-game>

	</section>
</md-content>