<div>
    <!-- Card Table -->
    <div class="card-table">
        <!-- Start Game -->
        <div class="game-results" ng-if="!game.started">
            <div class="result-text">
                <md-button class="md-raised md-accent" style="line-height: 175px;font-size: 150px;"  
                ng-click="game.start()">Start
                </md-button>
            </div>
        </div>

        <!-- Game Results -->
        <div class="game-results" ng-if="game.showResults">
            <div class="result-text">
                {{game.results}}
            </div>
        </div>

        <!-- Select Trump -->
        <div class="select-trump" ng-if="game.selectTrump">
            <div class="title">:Select Trump:</div>
            <div class="trump-text">
                <span ng-click="game.setTrump('&clubs;')">&clubs;</span>
                <span style="color:red;" ng-click="game.setTrump('&diams;')">&diams;</span>
                <span ng-click="game.setTrump('&spades;')">&spades;</span>
                <span style="color:red;" ng-click="game.setTrump('&hearts;')">&hearts;</span>
            </div>
        </div>

        <!-- Hands -->
        <div class="playing-area">
            <div class="hand">
                <saathaath-hand cards="game.player2.cards" callback="game.play(card,game.player2)"></saathaath-hand>
            </div>
            <div class="hand-spacer">
                <div style="float:left;">
                <saathaath-compare cards="game.currentPlayCards"></saathaath-compare>
            </div>
            </div>
            <div class="player-hand hand">
                <saathaath-hand cards="game.player1.cards" callback="game.play(card,game.player1)"></saathaath-hand>
            </div>
        </div>

        <!-- Scoreboard -->
        <div class="scoreboard" ng-if="game.started" ng-class="{scorecontent: game.currentPlayer === game.player1}">
            <p class="title">Player:</p>
            <p class="detail">{{game.player1.name}}</p>
            <p class="title">HandsToDo:</p>
            <p class="detail">{{game.player1.getHandsTodo()}}</p>
            <p class="title">Score:</p>
            <p class="detail">{{game.player1.getScore()}}</p>
        </div>
        <div class="gametrump" ng-if="game.started && game.trump">
            <p class="title">Trump</p>
            <p class="detail" ng-style="['&diams;','&hearts;'].indexOf(game.trump) > -1 ? {color:'red'}:{color:'black'}">{{game.trump}}</p>
        </div>
        <div class="scoreboard2" ng-if="game.started" ng-class="{scorecontent: game.currentPlayer === game.player2}">
            <p class="title">Player:</p>
            <p class="detail">{{game.player2.name}}</p>
            <p class="title">HandsToDo:</p>
            <p class="detail">{{game.player2.getHandsTodo()}}</p>
            <p class="title">Score:</p>
            <p class="detail">{{game.player2.getScore()}}</p>
        </div>



        <!-- Actions -->
        <div class="action-bar">
        </div>

    </div>