@unit:em;
@basevalue:1;
@val: 1;
@setUnit: unit(@basevalue*@val, @unit);
@cardem: ~`function(a) { return (a/200)*16+'em'; }`;
@suit-size: 5.8em;
@suitem: ~`function(a) { return ((a/200)*16)/5.8+'em'; }`;

.transform(@n){
  -ms-transform: @arguments;
  -moz-transform: @arguments;
  -webkit-transform: @arguments;
  transform: @arguments;
}

html,body { height: 100%;}
* {margin: 0; padding: 0;}

/** Play Area **/

.primary-area {
    padding: 40px 15px;
    text-align: center;
}

.card-table {
    background-color: olivedrab;
    background-image: url('../src/client/images/felt.png');
    position: relative;
    padding-top: 50px;
    height:550px;
}

/** Scoreboard **/
.scoreboard {
    position: absolute;
    bottom: 10px;
    left: 15px;
    width: 175px;
    height: 120px;
    border: solid;
    border-radius: 15px;
    background-image: url('../src/client/images/debut-dark.png');
    color: white;
    font-family: 'Lora', serif;
    text-align: center;
    padding: 20px 0;
}

.scoreboard2 {
    position: absolute;
    top: 10px;
    left: 15px;
    width: 175px;
    height: 120px;
    border: solid;
    border-radius: 15px;
    background-image: url('../src/client/images/debut-dark.png');
    color: white;
    font-family: 'Lora', serif;
    text-align: center;
    padding: 20px 0;
}

.gametrump{
    position: absolute;
    top: 250px;
    left: 15px;
    width: 175px;
    height: 60px;
    border: solid;
    border-radius: 15px;
    background-image: url('../src/client/images/debut-dark.png');
    color: white;
    font-family: 'Lora', serif;
    text-align: center;
    padding: 20px 0;
}

.gametrump .title{
    font-size: 15px;
}

.gametrump .detail{
    line-height: 50px;
    font-size: 50px;
}

.scorecontent{
    border-style: solid;
    border-color: red;
}

.scorecontent .title {
    font-size: 15px;
}

.scorecontent .detail {
    font-size: 18px;
    font-weight: bold;
}

/** Results **/

.game-results {
    z-index: 10;
    width: 100%;
    top: 175px;
    position: absolute;
    background-image: url('../src/client/images/debut-dark.png');

}

.game-results .result-text {
    font-family: 'Lora', serif;
    color: white;
    line-height: 175px;
    font-size: 150px;
    text-shadow: 2px 2px #ff0000;
    text-align: center;
    opacity: 1.0;
}

/** Trump Select **/

.select-trump {
    z-index: 10;
    width: 100%;
    top: 175px;
    position: absolute;
    background-image: url('../src/client/images/debut-dark.png');

}

.select-trump .title {
    font-family: 'Lora', serif;
    color: white;
    line-height: 25px;
    font-size: 25px;
    text-align: center;
    opacity: 1.0;
}

.select-trump .trump-text {
    font-family: 'Lora', serif;
    color: black;
    line-height: 175px;
    font-size: 150px;
    text-align: center;
    opacity: 1.0;
}

/** Actions **/

.action-bar {
    position: absolute;
    bottom: 0;
    left: 25%;
    right: 25%;
    margin: 0 auto;
    height: 50px;

}

.action-bar button {
    height: 50px;
}

/** Hands **/
.hand {

}

.hand-spacer {
    height: 50px;
}

/** Cards **/

.playingCards {
    position: relative;
    height: 180px;
    margin-left: 500px;
    font-size: 8px;
}

@media only screen and (max-width:500px) {
	.playingCards{
		font-size: 5px;
	}
}

.compareCards {
    position: relative;
    height: 400px;
    margin-top: -90px;
    margin-left: 300px;
    font-size: 8px;
}

.compareCards .compare-index-0 {
    position: relative;
    height: 180px;
}

.compareCards .compare-index-1 {
    position: relative;
    top:10px;
    height: 180px;
    margin-left: 40px;
}

.card {
  width: ~`cardem(200)`;
  height: ~`cardem(280)`;
  margin: 0 ~`cardem(15)` ~`cardem(15)` 0;
  
  .card-back{
    img{
      width: ~`cardem(200)`;
      height: ~`cardem(280)`;
    }
  }
  
   .flipped{
        .transform(rotateY(180deg))
    }
  
   .corner{
    line-height: 1;
    position: absolute;
    text-align: center;
        span{
        display: block;
        font-size: 1.5em;
        font-weight: bold;
        }
        .number{
        font-size: 2em;
        height: ~`cardem(24)` / 2;
        line-height: ~`cardem(24)` / 2;
        }
        &.top{
        left: ~`cardem(8)`;
        top: ~`cardem(12)`;
        }
        &.bottom{
        bottom: ~`cardem(12)`;
        right: ~`cardem(8)`;
        .transform(rotate(180deg));
        }
   }
   
   .card-ace span.suit.middle_center{
    font-size: ~`cardem(128)`;
    left: ~`suitem(33)`;
    top: ~`suitem(43)`;
   }

  .card-ten .corner .number{
    font-size: 1.5em;
  }

  .face img {
    position: absolute;
    left:  ~`cardem(32)`;
    top:   ~`cardem(26)`;
    width: ~`cardem(135)`;
    height: ~`cardem(228)`;
  }
  
  
  .suit{
    font-size: @suit-size;
    font-weight: normal; // bold
    width: ~`suitem(50)`; // suitem(50)
    height: ~`suitem(57)`; // suitem(60)
    line-height: ~`suitem(57)`; // suitem(60)
    // overflow: hidden
    position: absolute;
    text-align: center;

    &.top_center{
      left: ~`suitem(76)`;
      top: ~`suitem(24)`;
    }

    &.top_left{
      left: ~`suitem(30)`;
      top: ~`suitem(24)`;
    }

    &.top_right{
      right: ~`suitem(30)`;
      top: ~`suitem(24)`;
    }
    
    &.middle_center{
      left: ~`suitem(76)`;
      top: ~`suitem(110)`;
    }
    
    &.middle_top{
      left: ~`suitem(76)`;
      top: ~`suitem(70)`;
    }
    &.middle_bottom{
      bottom: ~`suitem(70)`;
      left: ~`suitem(76)`;
      .transform(rotate(180deg));
    }
    &.middle_left{
      left: ~`suitem(30)`;
      top: ~`suitem(110)`;
    }
    &.middle_right{
      right: ~`suitem(30)`;
      top: ~`suitem(110)`;
    }
    &.middle_top_center{
      left: ~`suitem(76)`;
      top: ~`suitem(60)`;
    }
    &.middle_top_left{
      left: ~`suitem(30)`;
      top: ~`suitem(80)`;
    }
    &.middle_top_right{
      right: ~`suitem(30)`;
      top: ~`suitem(80)`;
    }
    &.middle_bottom_left{
      bottom: ~`suitem(80)`;
      left: ~`suitem(30)`;
      .transform(rotate(180deg));
    }
    &.middle_bottom_right{
      bottom: ~`suitem(80)`;
      right: ~`suitem(30)`;
      .transform(rotate(180deg));
    }
    &.middle_bottom_center{
      bottom: ~`suitem(60)`;
      left: ~`suitem(76)`;
      .transform(rotate(180deg));
    }
    &.bottom_center{
      bottom: ~`suitem(24)`;
      left: ~`suitem(76)`;
      .transform(rotate(180deg));
    }
    &.bottom_left{
      bottom: ~`suitem(24)`;
      left: ~`suitem(30)`;
      .transform(rotate(180deg));
    }
    &.bottom_right{
      bottom: ~`suitem(24)`;
      right: ~`suitem(30)`;
      .transform(rotate(180deg));
     }
  }

}

.generate-columns(12);

.generate-columns(@n, @i: 0) when (@i =< @n) {
  .card-index-@{i} {
      position: absolute;
      left:  150px*@i;
  }
  .generate-columns(@n, (@i + 1));
}




.card.back {
    background-color: #800080;
    background-image: url('../src/client/images/argyle.png');
    /** Background from http://www.transparenttextures.com/ **/
}

